.body {
    background-color: black;

}
.content {
	position: relative;
	background: #7624e9;
	width: 100%;
	z-index: 800;
	padding: 3% 5% 0 3%;
	top: 60px;
	bottom: 0;
	right: 0;
	left: 42px;  
	margin: 0;    
}