{% extends 'appFirstApp/index.html'%}
{% load static%}

{% block title %}ffefefe{% endblock %}
{% block links %}<link rel="stylesheet" href="{% static 'css/book_style.css'%}">{%endblock%}

{% block content %}
<body>
    

        <div class="content" href="% url 'main' %"">  
            <div class="gg">
                {% for obj in book %}
                    {%if obj.NAME != None and obj.AUTHOR != None and obj.DESCRIPTION != None and obj.IMAGE != None%}
                        <div class="block">                       
                            <div class="conteiner">
                                <div class="place">1</div>

                                <img src = {{obj.IMAGE}}>


                                <span class="info_list">
                                    {{obj.COUNT_RAITING}}
                                    {{obj.NAME}}
                                    {{obj.AUTHOR}}
                                </span>                     
                            </div>
                                    <!-- <span id="dots">...</span>
                                    
                                 <button  id="BUTTON_DESCRIPTION" onclick="clickbutton()">
                                    Нажми, если хочешь увидеть описание Артема
                                </button>        -->
                            </a> 
                        </div>

                    {%endif%}
                {% endfor %}
            </div>
        </div>
    


    <script type="text/javascript" src="/static/js/main.js"></script>

    {% endblock %}
</body>