{% extends 'appFirstApp/index.html'%}
{% load static%}

{% block title %}Best books{% endblock %}
{% block links %}<link rel="stylesheet" href="{% static 'css/book_style.css'%}">{%endblock%}

{% block content %}
<body>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

        <div class="content">             
                {% for obj in book %}
                    {%if obj.NAME != None and obj.AUTHOR != None and obj.DESCRIPTION != None and obj.IMAGE != None%}
                        <div class="block" >
                            <a href="{{ obj.get_absolute_url }}">                          
                                <div class="conteiner">
                                    <div class="place">
                                        <div class="number">
                                            <span>{{obj.id}}</span>
                                        </div>
                                    </div>


                                    <img src = {{obj.IMAGE}}>


                                    <span class="info_list">
                                        <!-- <h1>{{obj.NAME}}</h1>
                                        <h2> {{obj.AUTHOR}}</h2>  -->
                                   
                                    </span>                     
                                </div>                                   
                            </a> 
                        </div>

                    {%endif%}
                {% endfor %}
            
        </div>
    


    <script type="text/javascript" src="/static/js/main.js"></script>

    {% endblock %}
</body>