{% extends 'appFirstApp/father.html'%}



{% block content %}
<script type="text/javascript" src="/static/js/main.js"></script>
ГЛАВНАЯ
    <div class="Books">   
        {% for obj in book %}
            {%if obj.NAME != None and obj.AUTHOR != None and obj.DESCRIPTION != None and obj.IMAGE != None and obj.DESCRIPTION_SHORT != None%}
                <a id="NAME">
                    Имя: {{obj.NAME}}
                </a>
                <a id="AUTHOR">
                    Автор: {{obj.AUTHOR}}
                </a>
                <a id="DESCRIPTION_SHORT">
                    Описание: {{obj.DESCRIPTION_SHORT}}
                    <span id="dots">...</span>
                </a>
                <a id="DESCRIPTION">
                    {{obj.DESCRIPTION}}
                </a>
                <button  id="BUTTON_DESCRIPTION" onclick="clickbutton()">
                    Нажми, если хочешь увидеть описание Артема
                </button>

            {%endif%}
        {% endfor %}
    </div>
{% endblock %}