{% extends 'appFirstApp/father.html'%}



{% block content %}
<div class="main">
    <!-- <span>
        <h1>Тут будет название</h1>
    </span> -->
    <div id="content">  
        <ul>   
        {% for obj in book %}
     
            {%if obj.NAME != None and obj.AUTHOR != None and obj.DESCRIPTION != None and obj.IMAGE != None%}
                <li>
                    {{obj.NAME}} <br>
                    {{obj.AUTHOR}}<br>
                    <input type="button" onclick="clickbutton(obj)" value="Нажми, если думаешь что Артем полезный">
                    <img src = {{obj.IMAGE}}>
                <li>
                
            {%endif%}
        {% endfor %}
        </ul>
    </div>
</div>
    
    
{% endblock %}